ol{
  color: rgb(241,241,241);
  font-variant:small-caps;
}

h2{
  color: rgb(191,10,48);
  font-style: italic;
}

h1{
  color:rgb(0, 0, 0);
  font-style: oblique;
}

body{
  background-color:#122167;
}

p{
  color:rgb(255,255,255)
  font-style: italic;
}
img{
  height: 150px;
  float:right;
  border-style: dashed;
  visibility: visible
}
h5{
  font-variant: inherit;
  color: dimgrey;
  float: right
}